*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* overflow: hidden; */
}
/* ----rows----- */
.row{
   margin-right: -15px;
   margin-left: -15px;
   display: flex;
}
[class*="col-"]{
    padding-left: 15px;
    padding-right: 15px;
}
/* Mobile */
@media(max-width:767px){ 
    .col-xs-12{
        width: 100%;
    }
}


/* ----Tablet------- */
@media(min-width:768px){
    .container{
        max-width: 720px;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33.33%;
    }
    .col-sm-5{
        width: 41.6%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.4%;
    }
    .col-sm-8{
        width: 66.66%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-12{
        width: 100%;
    }
}

/* ----Laptop------- */
@media(min-width:992px){
    .container{
        max-width:960px;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-2{
        width: 15%;
    }
    .col-md-4{
        width: 33.33%;
    }
    .col-md-5{
        width: 41.6%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.4%;
    }
    .col-md-8{
        width: 66.66%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-12{
        width: 100%;
    }
}

/* ----Desktop------- */
@media(min-width:1200px){
    .container{
        max-width:1140px;
    }
    .col-lg-2{
        width: 15%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.33%;
    }
    .col-lg-5{
        width: 41.6%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.4%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-12{
        width: 100%;
    }
   
}